name: 酒店电视直播源更新

on:
  schedule:
    - cron: '0 22 1 * *'
  workflow_dispatch:
    分支:
      - main

permissions:
  contents: write
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
    
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.x

      - name: Install dependencies
        run: pip install selenium requests futures eventlet

      - name: GetTime
        id: date
        run: echo "::set-output name=date::$(TZ=':Asia/Shanghai' date '+%Y-%m-%d %T')"

      - name: Run iptv
        run: python ${{ github.workspace }}/iptv.py

      - name: 更新 EPG.xml 和 README.md
        run:  |      
          rm -f EPG.xml && wget https://epg.112114.xyz/pp.xml -O EPG.xml
          echo "iptv.txt 的网址 已于 ${{ steps.date.outputs.date }} 更新，本仓库访客数：![Visitor's Count](https://profile-counter.glitch.me/pxiptv_TV/count.svg)" > README.md
        
      - name: 提交更改
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit -am "${{ steps.date.outputs.date }}"
          if [ -n "$(git status --porcelain)" ]; then
          git add *.txt
          git commit -m "Automatic update"
          git push
          else
            echo "No changes detected, skipping commit."
          fi
          if [[ -f "EPG.xml" ]]; then
            git add EPG.xml
          fi
          git add README.md
        
          current_datetime=$(date +"%Y%m%d_%H%M%S")
          cp iptv.txt history/"${current_datetime}_iptv.txt"
          git add history/"${current_datetime}_iptv.txt"
          git commit -m "Archive file with timestamp"
          git push

env:
  TZ: Asia/Shanghai
